.letssee{
   /* margin-left: 4rem;
   margin-top: 1rem; */
   /* border-color: bisque;
   border-width: 2px; */

   max-width: 1140px;
   padding-left: 6rem;


}

.navbarItems{
    

    margin-left: 33rem;
    margin-top:2rem;
    gap: 2rem;


}

.headline{
    font-size: 62px;
    font-family: Serif;
    width: 517px;
    height: 81px;
}
.para{
    max-width: 400px;
}
.freshFlowers{
    
    height :461px;
    width:1140;
    margin-top: 7rem;
    padding: 6rem;
    
}
span{
    color: #E95A08;
}

.headlinetwo{
 
    font-size: 50px;

}

.secondpart{
   
    margin-top: 6rem;
    /* width: 1140px;
    height: 1187px; */
       border-color: bisque;
   border-width: 2px;
   
    
}

.cart{
    /* border-color: #E95A08;
    border-width: 1px; */

    width:270px;
    height:484.94px;
}
.cartbutton{
    text-align: center;
    width: 270px;
    height:50px;
    background-color: #E95A08;
    padding-top: 10px;


}
.flowerscart{
  
   padding:2rem;
   height:999.88px;
   width:1140;
   

}